@font-face {
    font-family: Trebuchet 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
<<<<<<< Updated upstream
    
=======
    src: url(./fonts/customfont.woff)
>>>>>>> Stashed changes
  }
  
  .porquedoar {
    font-family: 'Trebuchet MS';
  }